<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="index.php" />
      </files>
    </defaultDocument>
    <handlers>
      <add name="PHP_via_FastCGI" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\PHP\php-cgi.exe" resourceType="Either" requireAccess="Script" />
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="10485760" />
        <hiddenSegments>
          <add segment="data" />
        </hiddenSegments>
        <fileExtensions>
          <add fileExtension=".sqlite" allowed="false" />
          <add fileExtension=".db" allowed="false" />
        </fileExtensions>
      </requestFiltering>
    </security>
  </system.webServer>
  <location path="assets/uploads">
    <system.webServer>
      <handlers>
        <remove name="PHP_via_FastCGI" />
      </handlers>
    </system.webServer>
  </location>
</configuration>
